.idea/
.env/
.venv/
venv/
env/
*.iml
.DS_Store
*.pyc
__pycache__
*.log
logs/
book-list/
resource/image
test.py
models/
tmp/
outputs
*.pth
cutscene_frame_idx.json
event_timecode.json
logs/
bitsandbytes/