--extra-index-url https://download.pytorch.org/whl/cu118

tqdm
timm
einops
opencv_python
bitsandbytes
omegaconf
iopath
webdataset
ftfy
SentencePiece
transformers

pycocoevalcap
bert-score
decord; sys_platform != 'darwin'
eva-decord;sys_platform == 'darwin' and platform_machine == 'arm64'

torch
torchvision==0.17.0
torchaudio==2.2.0
pytorchvideo
pytorch==2.2.0
pytorch-cuda=11.8
# conda install pytorch==2.2.0 torchvision==0.17.0 torchaudio==2.2.0 pytorch-cuda=11.8 -c pytorch -c nvidia
