--extra-index-url https://download.pytorch.org/whl/cu118

tqdm
timm
einops
opencv_python
bitsandbytes
omegaconf
iopath
webdataset
ftfy
SentencePiece
transformers==4.28.0
pytorchvideo
pycocoevalcap
bert-score
decord; sys_platform != 'darwin'
eva-decord;sys_platform == 'darwin' and platform_machine == 'arm64'
torch
torchvision
torchaudio